/* Components */

/* LinkThree */
.elementor-container {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #1d1d36;
  border: 2px solid #4c68af;
  width: 100%;
  height: 70px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}
.elementor-container:hover {
  transition: all 0.5s ease-in-out;
  background-color: #4c68af;
  color: #f9ffff;
}
.list-contactos {
  max-height: 400px;
  overflow-y: scroll;
}

.portada .slide {
  position: relative;
}
.portada .slide a {
  color: #fff;
  text-shadow: 1px 1px 5px black;
  font-size: 20px;
}
.portada .slide img {
  object-fit: cover;
  object-position: center;
  height: 400px;
}
.portada p {
  position: absolute;
  top: 45%;
  max-width: 80%;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.btn_left,
.btn_right {
  position: absolute;
  /* background-image: url("./../img/arrow.png"); */
  width: 32px;
  height: 32px;
  padding: 0;
  margin: 0;
  background-position: center;
  background-color: red;
  filter: invert(1);
  /* border: 0; */
  opacity: 0.75;
  top: 45%;
  border-radius: 100%;
  cursor: pointer;
}
.btn_left {
  left: 10px;
  rotate: 180deg;
}
.btn_right {
  right: 10px;
}

/* MODAL */
.modal-active {
  display: block !important;
  position: initial;
}

/* form estudiantes */
.option-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

/* Banner */
.portada {
  position: relative;
}
.btn-banner-prev,
.btn-banner-next {
  display: inline-flex !important;
  padding: 4px !important;
  margin: 0 !important;
  border-radius: 100% !important;
  position: absolute;
  top: 45%;
  font-size: 30px !important;
}
.btn-banner-prev {
  left: 20px;
}
.btn-banner-next {
  right: 20px;
}

/* form estudiante carrera */
.buttons{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 10px;
}