body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --title-bg-color: #5DADE2 ;
}

.title{
  color: var(--title-bg-color);
}

/* ///////////////CONTACTO////////////////// */
/* .table-contact {
  width: 100%;
  margin: 0 auto;
  display: block;
  overflow-y: scroll;
  height: 300px;
}

.table-contact th {
  width: 1%;
  background-color: #daf5ff;
}
.table-contact td {
  padding-left: 10px;
}
.table-contact .name {
  background-color: #daf5ff;
}
.table-contact .numero {
  background-color: #daf5ff;
} */