# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# node_modules
Cliente/node_modules
Server/node_modules
Server/uploads/**
!.gitkeep


# archivos
Cliente/.pnp
Cliente/.pnp.js

# misc
Server/access.log

npm-debug.log*
yarn-debug.log*
yarn-error.log*
