footer{
    background-color: #101318;
    color: aliceblue;
}

.superior{
    background-color: #0E6655 ;
}

.footer{
    background-color: #00192d;
    padding: 5px 0;
    line-height: 2;
    font-size: 12px;
}